<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwsMenuBarView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA0F56C11DED4D2700CA32CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0F56DA1DED4D2800CA32CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0F56E51DED4D2800CA32CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
